{% extends "task_bar.html" %}
{% block content %}
{% load static %}
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Login to see more contents</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {%csrf_token%}
                        <div class="form-row">
                            <div class="name">Full name</div>
                            <div class="value">
                                <input class="input--style-6" type="text" name="username">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="password" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                    <button class="btn btn--radius-2 btn--blue-2" type="submit">Log In</button>
                </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}